<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>Password Reset</h1>
    <form action="{{apiUrl}}/users/update-password" method="post">
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="hidden" name="confirmationCode" value="{{ confirmationCode }}">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>